div[data-testid="metric-container"]{
    background-color: aquamarine;
    width: 30%;
    border-radius: 25px;
    padding: 5%;
}

div[role="listbox"] ul {
    background-color: rgb(142, 178, 245);
}

div[data-baseweb="select"] > div {
    background-color: rgb(201, 207, 195);
}

div.streamlit-expanderHeader.st-ae.st-bp.st-ag.st-ah.st-ai.st-aj.st-bq.st-br.st-bs.st-bt.st-bu.st-bv.st-bw.st-as.st-at.st-bx.st-by.st-bz.st-c0.st-cb.st-b4.st-c2.st-c3.st-c4.st-b5.st-c5.st-c6.st-c7.st-c8{
    color: darkblue;
    font-weight: bold;
}

.li>div.css-16idsys.eqr7zpz4{
    color: darkblue;
    font-weight: bold;
}
